:root {
  --pri: #00215e;
  --sec: #2c4e80;
  --tri1: #481402;
  --tri2: #ffc55a;
  --red: red;
  --green: green;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--tri2);
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./fonts/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./fonts/AeonikTRIAL-Bold.otf);
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: aeonik, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;

  background: var(--sec);
}

#main {
  max-width: 1200px;
  height: 100%;
  background-color: red;
}
h1 {
  font-weight: 700;
  color: var(--tri2);
}

section.allElems {
  height: 100%;
  width: 100%;
  padding: 40px;
  overflow: auto;
  position: absolute;
}
.allElems .allFeatures {
  display: --webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.elem {
  height: 400px;
  width: 330px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.elem h2 {
  position: absolute;
  bottom: 4%;
  font-weight: 500;
  font-size: 33px;
  right: 5%;
}
.elem:active {
  scale: 0.97;
}

.fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 40px;
  position: absolute;
  top: 0;
  z-index: 999;
  display: none;
}

.back {
  position: absolute;
  right: 5%;
  background-color: var(--red);
  color: #ffc55a;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 15px;
  cursor: pointer;
}
.back:active {
  scale: 0.97;
}

.todo-list-fullpage h2 {
  font-size: 40px;
}
.todo-list-fullpage .todo-container {
  height: 100%;
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask {
  width: 33%;
  background-color: var(--pri);
  height: 100%;
  border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px;
}
.todo-container .addTask form #task-input {
  padding: 10px 25px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  background-color: var(--sec);
  color: var(--tri2);
  font-weight: 500;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
.todo-container .addTask form textarea {
  padding: 10px 25px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  background-color: var(--sec);
  color: var(--tri2);
  font-weight: 500;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
.todo-container .addTask form button {
  padding: 10px 25px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  background-color: var(--tri1);
  border: none;
  outline: none;
  font-weight: 700;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.todo-container .addTask form button:active {
  scale: 0.96;
}

.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--pri);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--tri2);
  padding: 15px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.task h5 {
  color: var(--pri);
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.task h5 span {
  background-color: var(--red);
  color: var(--tri2);
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 11px;
}
.task h5 span.true {
  opacity: 1;
}
.task h5 span.false {
  opacity: 0;
}
.task button {
  padding: 15px 30px;
  color: var(--tri2);
  background-color: var(--green);
  font-size: 18px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}
.task button:active{
  scale: 0.96;
}
.mark-imp{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  gap: 20px;
}
.mark-imp input{
  scale:1.7;
}
.mark-imp label{
  font-size: 21px;
}
